<div class="bg-yellow-500 text-white p-10 text-center">
  <h1 class="text-3xl font-bold">Изменение цвета для проверки Tailwind Watch</h1>
  <p class="mt-4 text-lg">Если фон стал жёлтым, значит пересборка работает!</p>
</div>
