<div class="container">
  <%= button_to "Выйти", destroy_user_session_path, method: :delete, class: "absolute top-0 right-0 text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
</div>
<section class="container mx-auto p-8">
  <h1 class="text-2xl font-bold">Добро пожаловать на дашборд!</h1>
</section>
<h1>Tickers от Bybit API</h1>
<% if @price %>
  <pre>Btc <%= @price %></pre>
<% else %>
  <p>Не удалось получить данные. Попробуйте снова.</p>
<% end %>
<pre>TotalEquality <%=@wallet_balance %></pre>
<hr class="my-4 border-gray-300 dark:border-gray-600" />
<div style="display: flex; gap: 10px;">
  <div style="display: flex; gap: 5px;">
    <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
      Создать Лимитный ордер</button>
    <%= button_to 'Создать Рыночный ордер', create_order_path, method: :post, class: "text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"%>
</div>
</div>
<button data-modal-target="testModal" data-modal-toggle="testModal" class="bg-blue-500 text-white px-4 py-2">
  Открыть модальное окно
</button>
<button data-modal-target="testModal" data-modal-toggle="testModal" class="bg-blue-500 text-white px-4 py-2">
  Открыть модальное окно
</button>
<div id="testModal" tabindex="-1" aria-hidden="true" class="hidden fixed top-0 left-0 right-0 z-50 w-full p-4">
  <div class="relative bg-white p-6 rounded-lg shadow">
    <button data-modal-hide="testModal" class="text-red-500">Закрыть</button>
    <p>Это тестовое модальное окно!</p>
  </div>
</div>
